<main>
  <div class="main-div">
    <div class="main-sidemenu">
      <ul class="menu-ul">
        <li>
          <a href="/admin-member.ejs" class="sidemenu-style"> 회원관리</a>
        </li>
        <li>
          <a href="/admin-post.ejs" class="sidemenu-style"> 게시글관리</a>
        </li>
        <li>
          <a href="/admin-analysis.ejs" class="sidemenu-style"> 통계분석</a>
          <ul class="smallmenu-ul">
            <li>
              <a href="/admin-analysis.ejs" class="smallmenu">
                - 일일 게시글 분석</a
              >
            </li>
            <li>
              <a href="/admin-analysis.ejs" class="smallmenu"> - 사용자 분석</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/admin-qna.ejs" class="sidemenu-style"> 문의내역</a>
        </li>
      </ul>
    </div>
    <div class="main-contents">
      <div class="subject">전체 게시글</div>
      <div>
        <form class="combobox-pos">
          <select class="select-style">
            <option>구분</option>
            <option>최신순</option>
            <option>오래된순</option>
            <option>추천순</option>
          </select>
        </form>
      </div>
      <div>
        <ul class="list_ul_style">
          <li class="li_box">
            <div class="li_inner">
              <div class="list_img">
                <a href="#">이미지</a>
              </div>
              <div class="article_info">
                <p class="title">제목 : 아아아</p>
                <p class="list_info">내용:아아아아아아아아아</p>
                <p>서울시 성북구 어쩌구</p>
                <p>
                  <span class="icon-style"
                    ><img src="../public/images/jjim_icon.png" width="18" />
                    9999</span
                  >
                  <span class="icon-style"
                    ><img src="../public/images/comment-alt.png" width="18" />
                    100</span
                  >
                  <span class="icon-style"
                    ><img src="../public/images/grade_icon.png" width="20" />
                    100</span
                  >
                </p>
              </div>
              <div class="user_profile">
                <span>
                  <a href="#"
                    ><img src="../public/images/profile_icon.png" width="25"
                  /></a>
                </span>
                <span>
                  <a role="button" href="#" class="more_btn">
                    <img src="../public/images/menu.png" width="6" />
                  </a>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
