<div class="main-div">
  <div class="main-sidemenu">
    <ul class="menu-ul">
      <li>
        <a href="/admin/member" class="sidemenu-style"> 회원관리</a>
      </li>
      <li>
        <a href="/admin/post" class="sidemenu-style"> 게시글관리</a>
      </li>
      <!-- <li>
        <a href="/admin/analysis" class="sidemenu-style"> 통계분석</a>
        <ul class="smallmenu-ul">
          <li>
            <a href="/admin/analysis" class="smallmenu"> - 일일 게시글 분석</a>
          </li>
          <li>
            <a href="/admin/analysis" class="smallmenu"> - 사용자 분석</a>
          </li>
        </ul>
      </li> -->
      <li>
        <a href="/admin/qna" class="sidemenu-style"> 문의내역</a>
      </li>
    </ul>
  </div>
  <div class="main-contents">
    <div class="subject">일일 게시글</div>
    <div class="table-pos">
      <table class="post_table">
        <thead>
          <tr>
            <td class="border-r">일일 게시글 수</td>
            <td>게시글 증감수</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border-r">0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="subject">
      사용자 분석
      <span class="mini-subject">사용자 성별/연령대</span>
    </div>
    <div class="table-pos">
      <table class="user_table">
        <thead>
          <tr>
            <td>전체</td>
            <td>성별</td>
            <td>비율</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2" class="border-r"></td>
            <td class="border-r">남</td>
            <td></td>
          </tr>
          <tr>
            <td class="border-r">여</td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2" class="border-r">0~9</td>
            <td class="border-r">남</td>
            <td></td>
          </tr>
          <tr>
            <td class="border-r">여</td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2" class="border-r">10~19</td>
            <td class="border-r">남</td>
            <td></td>
          </tr>
          <tr>
            <td class="border-r">여</td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2" class="border-r">20~29</td>
            <td class="border-r">남</td>
            <td></td>
          </tr>
          <tr>
            <td class="border-r">여</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <table class="user_table">
        <thead>
          <tr>
            <td>전체</td>
            <td>성별</td>
            <td>비율</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2" class="border-r">30~39</td>
            <td class="border-r">남</td>
            <td></td>
          </tr>
          <tr>
            <td class="border-r">여</td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2" class="border-r">40~49</td>
            <td class="border-r">남</td>
            <td></td>
          </tr>
          <tr>
            <td class="border-r">여</td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2" class="border-r">50~59</td>
            <td class="border-r">남</td>
            <td></td>
          </tr>
          <tr>
            <td class="border-r">여</td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2" class="border-r">60~69</td>
            <td class="border-r">남</td>
            <td></td>
          </tr>
          <tr>
            <td class="border-r">여</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <table class="user_table">
        <thead>
          <tr>
            <td>전체</td>
            <td>성별</td>
            <td>비율</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2" class="border-r">70~79</td>
            <td class="border-r">남</td>
            <td></td>
          </tr>
          <tr>
            <td class="border-r">여</td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2" class="border-r">80~89</td>
            <td class="border-r">남</td>
            <td></td>
          </tr>
          <tr>
            <td class="border-r">여</td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2" class="border-r">90~99</td>
            <td class="border-r">남</td>
            <td></td>
          </tr>
          <tr>
            <td class="border-r">여</td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2" class="border-r">100~109</td>
            <td class="border-r">남</td>
            <td></td>
          </tr>
          <tr>
            <td class="border-r">여</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
