<!DOCTYPE html>
<html>
    <head>
        <title>이리와</title>
        <link href="../public/css/admin-qna.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <nav>
            <div class="nav-div">
                <div class="nav-logoposition">
                    <a href="../views/admin-member.html"><img src="../public/images/logo.png" width="132"/></a>
                </div>
                <div class="nav-icon">
                    <span class="search-box-position">
                        <input type="text" class="search-box"/>
                    </span>
                    <span>
                        <a href="#"><img src="../public/images/search.png" width="30"/></a>
                        <a href="#"><img src="../public/images/bell.png" width="30"/></a>
                        <a href="#"><img src="../public/images/profile_icon.png" width="30"/></a>
                    </span>
                </div>
            </div>
        </nav>
        <main>
            <div class="main-div">
                <div class="main-sidemenu">
                    <ul class="menu-ul">
                        <li>
                            <a href="../views/admin-member.html" class="sidemenu-style"> 회원관리</a>
                        </li>
                        <li>
                            <a href="../views/admin-post.html" class="sidemenu-style"> 게시글관리</a>
                        </li>
                        <li>
                            <a href="../views/admin-analysis.html" class="sidemenu-style"> 통계분석</a>
                            <ul class="smallmenu-ul">
                                <li><a href="../views/admin-analysis.html" class="smallmenu"> - 일일 게시글 분석</a></li>
                                <li><a href="../views/admin-analysis.html" class="smallmenu"> - 사용자 분석</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="../views/admin-qna.html" class="sidemenu-style"> 문의내역</a>
                        </li>
                    </ul>
                </div>
                <div class="main-contents">
                    <div class="subject">문의 내역</div>
                    <div class="main-searchbox-pos">
                        <form>
                            <select class="select-style">
                              <option>구분</option>
                              <option>사용자</option>
                              <option>답변완료</option>
                              <option>답변대기</option>
                            </select>
                          </form>
                        <input type="text" class="main-search-box"/>
                        <button class="button-style">검색</button>
                    </div>
                    <div>
                        <table class="table-style">
                            <thead>
                                <tr>
                                <th scope="cols">No.</th>
                                <th scope="cols">회원명/회원아이디</th>
                                <th scope="cols">문의내용</th>
                                <th scope="cols">구분</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">1</td>
                                    <td>
                                        <span>김수정</span>
                                        <span>/</span>
                                        <span>sujung1122</span>
                                    </td>
                                    <td>가나다라마바사아자차카타파하ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㄴㄴㄴㄴㄴ</td>
                                    <td>
                                        <p> 답변대기중</p>
                                        <a href=".\admin-qna-response.html">답변하기</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <p>ⓒ 2022 Team Eriwa</p>
        </footer>
    </body>
</html>