<!DOCTYPE html>
<html>
    <head>
        <title>이리와</title>
        <link href="../public/css/admin-qna-response.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <nav>
            <div class="nav-div">
                <div class="nav-logoposition">
                    <a href="../views/admin-member.html"><img src="../public/images/logo.png" width="132"/></a>
                </div>
                <div class="nav-icon">
                    <span class="search-box-position">
                        <input type="text" class="search-box"/>
                    </span>
                    <span>
                        <a href="#"><img src="../public/images/search.png" width="30"/></a>
                        <a href="#"><img src="../public/images/bell.png" width="30"/></a>
                        <a href="#"><img src="../public/images/profile_icon.png" width="30"/></a>
                    </span>
                </div>
            </div>
        </nav>
        <main>
            <div class="main-div">
                <div class="main-sidemenu">
                    <ul class="menu-ul">
                        <li>
                            <a href="../views/admin-member.html" class="sidemenu-style"> 회원관리</a>
                        </li>
                        <li>
                            <a href="../views/admin-post.html" class="sidemenu-style"> 게시글관리</a>
                        </li>
                        <li>
                            <a href="../views/admin-analysis.html" class="sidemenu-style"> 통계분석</a>
                            <ul class="smallmenu-ul">
                                <li><a href="../views/admin-analysis.html" class="smallmenu"> - 일일 게시글 분석</a></li>
                                <li><a href="../views/admin-analysis.html" class="smallmenu"> - 사용자 분석</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="../views/admin-qna.html" class="sidemenu-style"> 문의내역</a>
                        </li>
                    </ul>
                </div>
                <div class="main-contents">
                    <div class="subject">문의내역</div>
                    <div class="pos-flex">
                        <span class="user-name-id">
                            <span>회원명</span>
                            <span>/</span>
                            <span>회원아이디</span>
                        </span>
                        <span class="question">문의내용</span>
                    </div>
                    <div class="pos-flex">
                        <span class="admin">관리자</span>
                        <span>
                            <textarea cols="100" rows="15" class="answer"></textarea>
                        </span>
                    </div>
                    <div class="button-position">
                        <button class="button-style">등록</button>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <p>ⓒ 2022 Team Eriwa</p>
        </footer>
    </body>
</html>