<div class="main-div">
  <div class="main-sidemenu">
    <ul class="menu-ul">
      <li>
        <a href="/admin-member" class="sidemenu-style"> 회원관리</a>
      </li>
      <li>
        <a href="/admin-post" class="sidemenu-style"> 게시글관리</a>
      </li>
      <li>
        <a href="/admin-analysis" class="sidemenu-style"> 통계분석</a>
        <ul class="smallmenu-ul">
          <li>
            <a href="/admin-analysis" class="smallmenu"> - 일일 게시글 분석</a>
          </li>
          <li>
            <a href="/admin-analysis" class="smallmenu"> - 사용자 분석</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/admin-qna" class="sidemenu-style"> 문의내역</a>
      </li>
    </ul>
  </div>
  <div class="main-contents">
    <div class="subject">문의내역</div>
    <div class="pos-flex">
      <span class="user-name-id">
        <span>회원명</span>
        <span>/</span>
        <span>회원아이디</span>
      </span>
      <span class="question">문의내용</span>
    </div>
    <div class="pos-flex">
      <span class="admin">관리자</span>
      <span>
        <textarea cols="100" rows="15" class="answer"></textarea>
      </span>
    </div>
    <div class="button-position">
      <button class="button-style">등록</button>
    </div>
  </div>
</div>
