<body>
    <header>
        <div class="logo_left_side">
            <img src="../public/images/logo.png">
        </div>
        <div class="logo_right_side">
            <h2>쪽지함</h2>
        </div>
    </div>
    </header>
    <div id="container">
        <div id="wrapped_chat">
      <div class="notification-content">
        <ul>
          <li class="notification-list" OnClick="location.href ='post.html'" style="cursor:pointer; background: #FFBDC1;">
            <div class="notification-subject">
              <span class="notification-subject-img">
                <img src="../public/images/note.png" alt="알림 종류" width="40px" height="40px">
              </span>
            </div>
            <div class="notification-maker" style="display:inline-block; text-align: center;">
              <img src="../public/images/usericon.png" alt="프로필 이미지" width="20px"><br/>
              <span>유저닉네임</span>
            </div>
            <div class="notification-text">
              <div class="comment-content">안녕하세요! 작성하신 글 보고 쪽지 드려요! OO에 대해서 물어보고 싶습니다!</div>
            </div>
            <div class="notification-day">
              <span class="date">yyyy.mm.dd hh:mm</span>
            </div>
          </li>
          <li class="notification-list" OnClick="location.href ='#'" style="cursor:pointer;">
            <div class="notification-subject">
              <span class="notification-subject-img">
                <img src="../public/images/note.png" alt="알림 종류" width="40px" height="40px">
              </span>
            </div>
            <div class="notification-maker" style="display:inline-block; text-align: center;">
              <img src="../public/images/usericon.png" alt="프로필 이미지" width="20px"><br/>
              <span>유저닉네임</span>
            </div>
            <div class="notification-text">
              <div class="comment-content">안녕하세요! 작성하신 글 보고 쪽지 드려요! OO에 대해서 물어보고 싶습니다!</div>
            </div>
            <div class="notification-day">
              <span class="date">yyyy.mm.dd hh:mm</span>
            </div>
          </li>
          <li class="notification-list" OnClick="location.href ='#'" style="cursor:pointer;">
            <div class="notification-subject">
              <span class="notification-subject-img">
                <img src="../public/images/note.png" alt="알림 종류" width="40px" height="40px">
              </span>
            </div>
            <div class="notification-maker" style="display:inline-block; text-align: center;">
              <img src="../public/images/usericon.png" alt="프로필 이미지" width="20px"><br/>
              <span>운영자</span>
            </div>
            <div class="notification-text">
              <div class="comment-content">안녕하세요</div>
            </div>
            <div class="notification-day">
              <span class="date">yyyy.mm.dd hh:mm</span>
            </div>
          </li>
          <li class="notification-list" OnClick="location.href ='post.html'" style="cursor:pointer;">
            <div class="notification-subject">
              <span class="notification-subject-img">
                <img src="../public/images/note.png" alt="알림 종류" width="40px" height="40px">
              </span>
            </div>
            <div class="notification-maker" style="display:inline-block; text-align: center;">
              <img src="../public/images/usericon.png" alt="프로필 이미지" width="20px"><br/>
              <span>유저닉네임</span>
            </div>
            <div class="notification-text">
              <div class="comment-content">질문드려도 괜찮을까요?</div>
            </div>
            <div class="notification-day">
              <span class="date">yyyy.mm.dd hh:mm</span>
            </div>
          </li>
        </ul>
        </div>
      </div>  
</body>
</html>