<div class="chatT-container">  
    <div id="chatBig-container">
        <div class="chat-wrapped">
            <div class="chat_container">
                <div class="chat-detail">
                    <div class="chat-menu_list">
                        <div class="chat_list">
                            <h3>익명</h3>
                            <div class='modal-container'>
                            <div id="my_modal">
                                <div id="signup-content">
                                    <!-- ID -->
                                    <div>
                                        <h3 class="join_title">
                                            <label for="id">쪽지쓰기</label>
                                        </h3>
                                        <span class="chat-box int_id">
                                            <input type="text" name="user_id" id="user_id" class="chat-int" maxlength="50" minlength="1" placeholder="" required>
                                            <span class="chat-step_url"></span>
                                        </span>
                                    </div>
                                    </div>
                                <a class="modal_close_btn">닫기</a>
                                <a class="modal-send-btn">보내기</a>
                            </div>
                            </div>
                    
                            <button id="popup_open_btn">쪽지쓰기</button>
                    
                            <script>
                                function modal(id) {
                                    var zIndex = 9999;
                                    var modal = document.getElementById(id);
                    
                                    // 모달 div 뒤에 희끄무레한 레이어
                                    var bg = document.createElement('div');
                                    bg.setStyle({
                                        position: 'fixed',
                                        zIndex: zIndex,
                                        left: '0px',
                                        top: '0px',
                                        width: '100%',
                                        height: '100%',
                                        overflow: 'auto',
                                        // 레이어 색갈은 여기서 바꾸면 됨
                                        backgroundColor: 'rgba(0,0,0,0.4)'
                                    });
                                    document.body.append(bg);
                    
                                    // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
                                    modal.querySelector('.modal_close_btn').addEventListener('click', function() {
                                        bg.remove();
                                        modal.style.display = 'none';
                                    });
                    
                                    modal.setStyle({
                                        position: 'fixed',
                                        display: 'block',
                                        boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',
                    
                                        // 시꺼먼 레이어 보다 한칸 위에 보이기
                                        zIndex: zIndex + 1,
                    
                                        // div center 정렬
                                        top: '50%',
                                        left: '50%',
                                        transform: 'translate(-50%, -50%)',
                                        msTransform: 'translate(-50%, -50%)',
                                        webkitTransform: 'translate(-50%, -50%)'
                                    });
                                }
                    
                                // Element 에 style 한번에 오브젝트로 설정하는 함수 추가
                                Element.prototype.setStyle = function(styles) {
                                    for (var k in styles) this.style[k] = styles[k];
                                    return this;
                                };
                    
                                document.getElementById('popup_open_btn').addEventListener('click', function() {
                                    // 모달창 띄우기
                                    modal('my_modal');
                                });
                            </script>
                        </div> 
                    </div>
                <div id="chat-wrapper-detail">
                    <div class="chat-notification-content">
                        <ul>
                          <li class="chat-notification-list" OnClick="location.href ='post.html'" style="cursor:pointer; ">
                            <div class="notification-maker" style="display:inline-block; text-align: center;">
                              <span>보낸 쪽지</span>
                            </div>
                            <div class="chat-notification-text">
                              <div class="chat-comment-content">저도 몰라요</div>
                            </div>
                            <div class="chat-notification-day">
                              <span class="date">yyyy.mm.dd hh:mm</span>
                            </div>
                          </li>
                          <li class="chat-notification-list" OnClick="location.href ='post.html'" style="cursor:pointer;">
                            <div class="chat-notification-maker" style="display:inline-block; text-align: center;">
                              <span>받은 쪽지</span>
                            </div>
                            <div class="chat-notification-text">
                              <div class="chat-comment-content">안녕하세요! 작성하신 글 보고 쪽지 드려요! OO에 대해서 물어보고 싶습니다!</div>
                            </div>
                            <div class="chat-notification-day">
                              <span class="date">yyyy.mm.dd hh:mm</span>
                            </div>
                          </li>
                          <li class="chat-notification-list" OnClick="location.href ='post.html'" style="cursor:pointer; ">
                            <div class="chat-notification-maker" style="display:inline-block; text-align: center;">
                              <span>보낸 쪽지</span>
                            </div>
                            <div class="chat-notification-text">
                              <div class="chat-comment-content">저도 몰라요</div>
                            </div>
                            <div class="chat-notification-day">
                              <span class="date">yyyy.mm.dd hh:mm</span>
                            </div>
                          </li>
                          <li class="chat-notification-list" OnClick="location.href ='post.html'" style="cursor:pointer;">
                            <div class="chat-notification-maker" style="display:inline-block; text-align: center;">
                              <span>받은 쪽지</span>
                            </div>
                            <div class="chat-notification-text">
                              <div class="chat-comment-content">안녕하세요! 작성하신 글 보고 쪽지 드려요! OO에 대해서 물어보고 싶습니다!</div>
                            </div>
                            <div class="chat-notification-day">
                              <span class="date">yyyy.mm.dd hh:mm</span>
                            </div>
                          </li>
                          <li class="chat-notification-list" OnClick="location.href ='post.html'" style="cursor:pointer;">
                            <div class="chat-notification-maker" style="display:inline-block; text-align: center;">
                              <span>받은 쪽지</span>
                            </div>
                            <div class="chat-notification-text">
                              <div class="chat-comment-content">안녕하세요! 작성하신 글 보고 쪽지 드려요! OO에 대해서 물어보고 싶습니다!</div>
                            </div>
                            <div class="chat-notification-day">
                              <span class="date">yyyy.mm.dd hh:mm</span>
                            </div>
                          </li>
                          <li class="chat-notification-list" OnClick="location.href ='post.html'" style="cursor:pointer;">
                            <div class="chat-notification-maker" style="display:inline-block; text-align: center;">
                              <span>받은 쪽지</span>
                            </div>
                            <div class="chat-notification-text">
                              <div class="chat-comment-content">안녕하세요! 작성하신 글 보고 쪽지 드려요! OO에 대해서 물어보고 싶습니다!</div>
                            </div>
                            <div class="chat-notification-day">
                              <span class="date">yyyy.mm.dd hh:mm</span>
                            </div>
                          </li>
                          </ul>
                </div>
            </div>
    </div>
</div>