<!--<div>
    생성완료
    <a href="/"><div>홈페이지로 돌아가기</div></a>
    <a href="/users/login"><div>로그인하기</div></a>
</div>
-->
<div class = "loginyn-container">
    <div class="loginyn-container">
        <div class="loginyn-form-container shadow">
                    <div class="loginyn-stay-sign-in">
                    </div>
                    <div class="loginyn-btn-wrap">
                        <div class="loginyn-login">
                            <h3><img class="congradu" src="../public/images/congradu.png" alt="message_icon">가입을 축하드립니다!<img class="congradu" src="../public/images/congradu.png" alt="message_icon"></h3>
                        </div>
                        <button class="yesLogin-btn" type="submit" onclick="location.href='/users/login'">로그인</button>
                        <button class="noLogin-btn" type="submit" onclick="location.href='/'">홈페이지로 돌아가기</button>
                        <br>
                    </div>
        </div>
    </div>
</div>
