<div id="container">
        <div class="search_container">
            <div class="search">
                <input type="text" placeholder="검색">
                <a href="/search"><img src="/public/images/search_icon.png" alt="검색"></a>
            </div>
            <div class="btn_option">
                <a href=#none id="show" 
                onclick="if(search_option.style.display=='none')
                {search_option.style.display='block'} else{search_option.style.display='none'}
                "><img src="/public/images/search_detail_setting_icon.png" alt="search_detail_setting_icon">
                </a>
                <div id="search_option">
                    <div class="search_text"><h2>검색 조건</h2></div>

                    <div class="search_first">
                        <div class="search_period">
                            <p>기간</p>
                            <select class="selec_search">
                                <option>전체</option>
                                <option>1개월</option>
                                <option>3개월</option>
                                <option>6개월</option>
                            </select>
                        </div>
                        <div class="search_range">
                            <p>검색 범위</p>
                            <select class="selec_search">
                                <option>제목</option>
                                <option>본문</option>
                                <option>제목과 본문</option>
                                <option>작성자</option>
                                <option>댓글</option>
                            </select>
                        </div>
                    </div> 

                    <div class="search_second">
                        <div class="search_area">
                            <p>지역</p>
                            <select class="selec_search">
                                <option>전체</option>
                                <option>강원도</option>
                                <option>경기도</option>
                                <option>경상북도</option>
                                <option>경상남도</option>
                                <option>전라북도</option>
                                <option>전라남도</option>
                                <option>충청북도</option>
                                <option>충청남도</option>
                                <option>제주도</option>
                                <option>광주광역시</option>
                                <option>대구광역시</option>
                                <option>대전광역시</option>
                                <option>부산광역시</option>
                                <option>서울특별시</option>
                                <option>울산광역시</option>
                                <option>인천광역시</option>
                                <option>세종특별자치시</option>
                            </select>
                        </div>
                        <div class="search_kind">
                            <p>장소 종류</p>
                            <select class="selec_search">
                                <option>전체</option>
                                <option>술집</option>
                                <option>카페</option>
                                <option>식당</option>
                                <option>기타</option>
                            </select>
                        </div>
                    </div> 

                    <div class="search_third">
                        <div class="search_grade">
                            <p>별점</p>
                            <select class="selec_search">
                                <option>전체</option>
                                <option>1점 이상</option>
                                <option>2점 이상</option>
                                <option>3점 이상</option>
                                <option>4점 이상</option>
                                <option>5점</option>
                            </select>
                        </div>
                        <div class="search_ect">
                            <p>기타</p>
                            <select class="selec_search">
                                <option>반려동물 동반 가능</option>
                                <option>주차 가능</option>
                            </select>
                        </div>
                    </div> 
                    <button id="btn_search">검색</button>
                </div>        
            </div>
        </div>
        <div class="search_result">
                검색 결과가 없습니다.
        </div>
</div>