<div id="container" class="error_page">
    <br>
    <h2>Error</h2>
    <br>
    <p>해당 페이지를 찾을 수 없습니다.</p>
    <a href="/"><button id="btn_write">돌아가기</button></a>
    <br>
    <img id="img_cute1" src="/public/images/cute_cat1.jpeg" alt="cute_cat">
</div>