<div id="container">
        <div id="today_best">
            <h2>오늘의 이리와</h2>
            <section class="today_best_slider">
                <div class="today_best_contents">
                    <div class="contents_img"><img src="/public/images/comment_icon.png" alt="메인 사진"></div>
                    <div class="contents_detail">
                        <a href="">
                        <div class="contents_explain">
                            <h1>Title</h1>
                            <h4>location</h4>
                            <h5>writer</h5>
                            <p>contents</p>
                        </div></a>
                        <div class="contents_info">
                            <a href="">
                                <div class="btn_jjim">
                                    <img src="/public/images/jjim_icon.png" alt="찜">
                                    <p>2,100</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="btn_comment">
                                    <img src="/public/images/comment_icon.png" alt="댓글">
                                    <p>100</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="btn_grade">
                                    <img src="/public/images/grade_icon.png" alt="별점">
                                    <p>4.5</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="today_best_contents">
                    <div class="contents_img"><img src="/public/images/comment_icon.png" alt="메인 사진"></div>
                    <div class="contents_detail">
                        <a href="">
                        <div class="contents_explain">
                            <h1>Title</h1>
                            <h4>location</h4>
                            <h5>writer</h5>
                            <p>contents</p>
                        </div></a>
                        <div class="contents_info">
                            <a href="">
                                <div class="btn_jjim">
                                    <img src="/public/images/jjim_icon.png" alt="찜">
                                    <p>2,100</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="btn_comment">
                                    <img src="/public/images/comment_icon.png" alt="댓글">
                                    <p>100</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="btn_grade">
                                    <img src="/public/images/grade_icon.png" alt="별점">
                                    <p>4.5</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="today_best_contents">
                    <div class="contents_img"><img src="/public/images/comment_icon.png" alt="메인 사진"></div>
                    <div class="contents_detail">
                        <a href="">
                        <div class="contents_explain">
                            <h1>Title</h1>
                            <h4>location</h4>
                            <h5>writer</h5>
                            <p>contents</p>
                        </div></a>
                        <div class="contents_info">
                            <a href="">
                                <div class="btn_jjim">
                                    <img src="/public/images/jjim_icon.png" alt="찜">
                                    <p>2,100</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="btn_comment">
                                    <img src="/public/images/comment_icon.png" alt="댓글">
                                    <p>100</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="btn_grade">
                                    <img src="/public/images/grade_icon.png" alt="별점">
                                    <p>4.5</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="search">
            <input type="text" placeholder="검색">
            <a href="/search"><img src="/public/images/search_icon.png" alt="검색"></a>
        </div>
        <div id="all_contents">
            <div class="board_action">
                <h2>전체</h2>
                <div>
                    <a href=""><img src="/public/images/gallery_view_icon.png" alt="사진 보기"></a>
                    <a href=""><img src="/public/images/list_view_icon.png" alt="목록 보기"></a>
                </div>
            </div>
            <div class="contents">
                <div class="real_content1">
                    <div><img src="/public/images/comment_icon.png" alt="메인 사진"></div>
                    <div>
                        <a href="">
                        <div class="contents_explain">
                            <h3>Title</h3>
                            <h4>location</h4>
                            <h5>writer</h5>
                            <p>contents</p>
                        </div></a>
                        <div class="contents_info">
                            <a href="">
                                <div class="btn_jjim">
                                    <img src="/public/images/jjim_icon.png" alt="찜">
                                    <p>2,100</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="btn_comment">
                                    <img src="/public/images/comment_icon.png" alt="댓글">
                                    <p>100</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="btn_grade">
                                    <img src="/public/images/grade_icon.png" alt="별점">
                                    <p>4.5</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="real_content2">
                    <div><img src="/public/images/comment_icon.png" alt="메인 사진"></div>
                    <div>
                        <a href="">
                        <div class="contents_explain">
                            <h3>Title</h3>
                            <h4>location</h4>
                            <h5>writer</h5>
                            <p>contents</p>
                        </div></a>
                        <div class="contents_info">
                            <a href="">
                                <div class="btn_jjim">
                                    <img src="/public/images/jjim_icon.png" alt="찜">
                                    <p>2,100</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="btn_comment">
                                    <img src="/public/images/comment_icon.png" alt="댓글">
                                    <p>100</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="btn_grade">
                                    <img src="/public/images/grade_icon.png" alt="별점">
                                    <p>4.5</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="real_content3">
                    <div><img src="/public/images/comment_icon.png" alt="메인 사진"></div>
                    <div>
                        <a href="">
                        <div class="contents_explain">
                            <h3>Title</h3>
                            <h4>location</h4>
                            <h5>writer</h5>
                            <p>contents</p>
                        </div></a>
                        <div class="contents_info">
                            <a href="">
                                <div class="btn_jjim">
                                    <img src="/public/images/jjim_icon.png" alt="찜">
                                    <p>2,100</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="btn_comment">
                                    <img src="/public/images/comment_icon.png" alt="댓글">
                                    <p>100</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="btn_grade">
                                    <img src="/public/images/grade_icon.png" alt="별점">
                                    <p>4.5</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>