<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>이리와</title>
    <!--header & footer-->
    <link rel="stylesheet" href="/public/css/header.css" />
    <link rel="stylesheet" href="/public/css/footer.css" />

    <!--other page-->
    <link rel="stylesheet" href="/public/css/index.css" />
    <link rel="stylesheet" href="/public/css/service-intro.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/public/css/detail-search.css" />
    <link rel="stylesheet" href="/public/css/mypage-recommend.css" />
    <link rel="stylesheet" href="/public/css/mypage-qna.css" />
    <link rel="stylesheet" href="/public/css/notice.css" />
    <link rel="stylesheet" href="/public/css/board.css" />
    <link rel="stylesheet" href="/public/css/post-writing.css" />
    <link rel="stylesheet" href="/public/css/post-view.css" />
    <link rel="stylesheet" href="/public/css/admin-member.css" />
    <link rel="stylesheet" href="/public/css/admin-post.css" />
    <link rel="stylesheet" href="/public/css/admin-analysis.css" />
    <link rel="stylesheet" href="/public/css/admin-qna.css" />
    <link rel="stylesheet" href="/public/css/admin-qna-response.css" />
    <link rel="stylesheet" href="/public/css/mypage-good-list.css" />
    <link rel="stylesheet" href="/public/css/mypage-reply-list.css" />
    <link rel="stylesheet" href="/public/css/mypage-write-list.css" />
    <link rel="stylesheet" href="/public/css/chat-list.css" />
    <link rel="stylesheet" href="/public/css/chat.css" />
    <link rel="stylesheet" href="/public/css/login.css" />
    <link rel="stylesheet" href="/public/css/signup.css" />
    <link rel="stylesheet" href="/public/css/bjy-common.css" />
  </head>
  <body>
    <header>
      <div class="page_header">
        <div id="service_logo">
          <ul>
            <li>
              <a href="/">
                <img id="logo" src="/public/images/logo.png" alt="Eriwa logo" />
              </a>
              <ul id="eriwa_list">
                <p>이리와</p>
                <li>
                  <a href="/service-intro"><p>이리와란?</p></a>
                </li>
                <li>
                  <a href="/board"><p>전체</p></a>
                </li>
                <li>
                  <a href="/board"><p>오늘의 이리와</p></a>
                </li>
              </ul>
              <ul id="region_list">
                <p>지역별</p>
                <ul>
                  <li>
                    <a href=""><p>강원도</p></a>
                  </li>
                  <li>
                    <a href=""><p>경기도</p></a>
                  </li>
                  <li>
                    <a href=""><p>경상북도</p></a>
                  </li>
                  <li>
                    <a href=""><p>경상남도</p></a>
                  </li>
                  <li>
                    <a href=""><p>전라북도</p></a>
                  </li>
                  <li>
                    <a href=""><p>전라남도</p></a>
                  </li>
                  <li>
                    <a href=""><p>충청북도</p></a>
                  </li>
                  <li>
                    <a href=""><p>충청남도</p></a>
                  </li>
                  <li>
                    <a href=""><p>제주도</p></a>
                  </li>
                </ul>
                <ul>
                  <li>
                    <a href=""><p>광주광역시</p></a>
                  </li>
                  <li>
                    <a href=""><p>대구광역시</p></a>
                  </li>
                  <li>
                    <a href=""><p>대전광역시</p></a>
                  </li>
                  <li>
                    <a href=""><p>부산광역시</p></a>
                  </li>
                  <li>
                    <a href=""><p>서울특별시</p></a>
                  </li>
                  <li>
                    <a href=""><p>울산광역시</p></a>
                  </li>
                  <li>
                    <a href=""><p>인천광역시</p></a>
                  </li>
                  <li>
                    <a href=""><p>세종특별자치시</p></a>
                  </li>
                </ul>
              </ul>
            </li>
          </ul>
        </div>
        <div class="search">
          <input type="text" placeholder="실시간 검색어" />
          <a href="/search"
            ><img src="/public/images/search_icon.png" alt="검색"
          /></a>
        </div>
        <div class="action">
          <a href="/mypage/recommend" class="btn_bookmark"
            ><img src="/public/images/bookmark_icon.png" alt="bookmark_icon"
          /></a>
          <a href="/notice" class="btn_alarm"
            ><img src="/public/images/alarm_icon.png" alt="alarm_icon"
          /></a>
          <a href="/login" class="btn_login"
            ><img src="/public/images/btn_login.png" alt="login_icon"
          /></a>
        </div>
      </div>
    </header>
    <%- body %>
    <footer>
      <div>
        <a href="/service-intro"><p>서비스 소개</p></a>
      </div>
      <div>
        <a href=""><p>이용약관</p></a>
      </div>
      <div>
        <a href=""><p>신고가이드</p></a>
      </div>
      <br />
      <p>Copyright © 2022 Team Eriwa. All rights deserved</p>
    </footer>
    <%- script %>
  </body>
</html>
