<div id="container">
    <% user.forEach(u => { %>
        <div class="wrapped_qna">
            <div class="user_container">
                <div class="user_info">
                    <a href=""><img id="img_profile" src="../public/images/profile_icon.png" alt="profile_icon"></a>
                    <br>
                    <p><%= u.nickname %>></p>
                    <br>
                    <div id="img_message">
                        <a href="/chat">
                            <img src="../public/images/message_icon.png" alt="message_icon">
                            <p>쪽지함</p>
                        </a>
                    </div>
                </div>
                <div class="user_detail">
                    <div class="detail_constant">
                        <p>・ 작성한 글</p>
                        <p>・ 작성한 댓글</p>
                        <p>・ 추천한 글</p>
                    </div>
                    <div class="detail_variable">
                        <a href=""><p>1건</p></a>
                        <a href=""><p>56건</p></a>
                        <a href=""><p>31건</p></a>
                    </div>
                </div>
                <div class="empty"></div>
            </div>
            <div class="qna_container">
                <h3>1:1 문의글</h3>
                <div class="qna_detail">
                    <div class="qna_kind">
                        <select>
                            <option>1개월</option>
                            <option>3개월</option>
                            <option>6개월</option>
                        </select>
                        <select>
                            <option>전체</option>
                            <option>답변</option>
                            <option>미답변</option>
                        </select>
                    </div>
                    <div class="qna_list">
                        <p>1:1문의 내역이 없습니다.</p>
                    </div>
                    <button id="btn_write">작성</button>
                </div>
            </div>
        </div>
    <% }); %>
</div>