<div id="container">
    <div class="wrapped_qna">
        <div class="qna_container">
            <form action="/mypage/update" method="post">
                <div>
                    <h3>개인정보 수정 전 로그인되었습니다! 다시 로그인해주세요!</h3>
                    <div>
                        <div class="login-input-wrap input-id">
                            <input placeholder="아이디" name="user_id" type="text" required>
                        </div>
                        <div class="login-input-wrap input-password">
                            <input placeholder="비밀번호" name="password" type="password" required>
                        </div>
                    </div>
                    <div class="btn_area">
                        <button type="submit" id="btn_check">
                        <span>확인</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>