<div class="replyList-container">
    <div id="container">
        <div class="wrapped_qna">
            <div class="user_container">
                <div class="user_info">
                    <a href=""><img id="profile" src="../public/images/profile_icon.png" alt="profile_icon"></a>
                    <br>
                    <p>Name</p>
                    <br>
                    <div id="img_message">
                        <a href="">
                            <img  src="../public/images/message_icon.png" alt="message_icon">
                            <p>쪽지함</p>
                        </a>
                    </div>
                </div>
                <div class="user_detail">
                    <div class="detail_constant">
                        <p>・ 작성한 글</p>
                        <p>・ 작성한 댓글</p>
                        <p>・ 추천한 글</p>
                        <p>・ 개인정보</p>
                    </div>
                    <div class="detail_variable">
                        <a href=""><p>1건</p></a>
                        <a href=""><p>56건</p></a>
                        <a href=""><p>31건</p></a>
                        <a href=""><p>수정하기</p></a>
                    </div>
                </div>
                <div class="empty"></div>
            </div>
            <div class="qna-container">
                <div class="qna-detail">
                    <div class="menu_list">
                        <div class="write_list">
                            <span>내가 쓴 글</span>
                        </div>
                        <div class="reply_list">
                            <span>내가 쓴 댓글</span>
                        </div>
                        <div class="good_list">
                            <span>추천한 글</span>
                        </div>
                    </div>
                    <div class= "button-container">
                        
                        <button id="btn-all-select">전체선택</button>
                        <button id="btn_delete">삭제</button>
                    </div>
                    <div class="qna_kind">
                    <div class="board_list_wrap">
                        <div class="board_list">
                            <div class="board_list_head">
                                <div class="button"></div>
                                <div class="tit">댓글</div>
                                <div class="date">작성일</div>
                            </div>
                            <div class="board_list_body">
                                <div class="item">
                                    <div class="button">
                                        <label><label><input style="zoom:1.5" type="checkbox" name="check" value="check"></label></label>
                                    </div>
                                    <div class="tit"><a href="#">갔는데 문닫았더라구요;;</a></div>
                                    <div class="date">2021-12-27</div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>