<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>이리와</title>
    <link rel="stylesheet" href="../public/css/mypage-qna.css" >
</head>
<body>
    <header>
        <div class="page_header">
            <div id="service_logo">
                <ul>
                    <li><a href="../views/index.html"><img id="logo" src="../public/images/logo.png" alt="Eriwa logo"></a>
                        <ul id="eriwa_list">
                            <p>이리와</p>
                            <li><a href="../views/service_intro.html"><p>이리와란?</p></a></li>
                            <li><a href="../views/board.html"><p>전체</p></a></li>
                            <li><a href="../views/board.html"><p>오늘의 이리와</p></a></li>
                        </ul>
                        <ul id="region_list">
                            <p>지역별</p>
                            <ul>
                                <li><a href="../views/board.html"><p>강원도</p></a></li>
                                <li><a href="../views/board.html"><p>경기도</p></a></li>
                                <li><a href="../views/board.html"><p>경상북도</p></a></li>
                                <li><a href="../views/board.html"><p>경상남도</p></a></li>
                                <li><a href="../views/board.html"><p>전라북도</p></a></li>
                                <li><a href="../views/board.html"><p>전라남도</p></a></li>
                                <li><a href="../views/board.html"><p>충청북도</p></a></li>
                                <li><a href="../views/board.html"><p>충청남도</p></a></li>
                                <li><a href="../views/board.html"><p>제주도</p></a></li>
                            </ul>
                            <ul>
                                <li><a href="../views/board.html"><p>광주광역시</p></a></li>
                                <li><a href="../views/board.html"><p>대구광역시</p></a></li>
                                <li><a href="../views/board.html"><p>대전광역시</p></a></li>
                                <li><a href="../views/board.html"><p>부산광역시</p></a></li>
                                <li><a href="../views/board.html"><p>서울특별시</p></a></li>
                                <li><a href="../views/board.html"><p>울산광역시</p></a></li>
                                <li><a href="../views/board.html"><p>인천광역시</p></a></li>
                                <li><a href="../views/board.html"><p>세종특별자치시</p></a></li>
                            </ul>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search">
                <input type="text" placeholder="실시간 검색어" >
                <a href="../views/detail-search.html"><img src="../public/images/search_icon.png" alt="검색"></a>
            </div>
            <div class="action">
                <a href="../views/mypage-recommend.html" class="btn_bookmark"><img src="../public/images/bookmark_icon.png" alt="bookmark_icon"></a>
                <a href="../views/notice.html" class="btn_alarm"><img src="../public/images/alarm_icon.png" alt="alarm_icon"></a>
                <a href="" class="btn_login">로그인</a>
            </div>
        </div>
    </header>
    <div id="container">
        <div class="wrapped_qna">
            <div class="user_container">
                <div class="user_info">
                    <a href=""><img id="img_profile" src="../public/images/profile_icon.png" alt="profile_icon"></a>
                    <br>
                    <p>Name</p>
                    <br>
                    <div id="img_message">
                        <a href="">
                            <img  src="../public/images/message_icon.png" alt="message_icon">
                            <p>쪽지함</p>
                        </a>
                    </div>
                </div>
                <div class="user_detail">
                    <div class="detail_constant">
                        <p>・ 작성한 글</p>
                        <p>・ 작성한 댓글</p>
                        <p>・ 추천한 글</p>
                    </div>
                    <div class="detail_variable">
                        <a href=""><p>1건</p></a>
                        <a href=""><p>56건</p></a>
                        <a href=""><p>31건</p></a>
                    </div>
                </div>
                <div class="empty"></div>
            </div>
            <div class="qna_container">
                <h3>1:1 문의글</h3>
                <div class="qna_detail">
                    <div class="qna_kind">
                        <select>
                            <option>1개월</option>
                            <option>3개월</option>
                            <option>6개월</option>
                        </select>
                        <select>
                            <option>전체</option>
                            <option>답변</option>
                            <option>미답변</option>
                        </select>
                    </div>
                    <div class="qna_list">
                        <p>1:1문의 내역이 없습니다.</p>
                    </div>
                    <button id="btn_write">작성</button>
                </div>
            </div>
        </div>
        <footer>
            <div><a href="./service_intro.html"><p>서비스 소개</p></a></div>
            <div><a href=""><p>이용약관</p></a></div>
            <div><a href=""><p>신고가이드</p></a></div>
            <br>
            <p>Copyright © 2022 Team Eriwa. All rights deserved</p>
        </footer>
    </div>
</body>


</html>