<div id="container">
    <br>
    <h2>Error</h2>
    <br>
    <p>로그인이 필요한 서비스입니다!</p>
    <a href="/users/login"><button id="btn_write">로그인하기</button></a>
    <br>
    <img id="img_cute1" src="/public/images/cute_cat1.jpeg" alt="cute_cat">
</div>