<div class="notice-container">
  <main class="notice-main">
    <div class="notice-category">
      <h2>
        <span id="all-notice"><a href="#">전체</a></span>
        <span id="comment-notice"><a href="#">댓글</a></span>
        <span id="note-notice"><a href="#">쪽지</a></span>
      </h2>
    </div>
  
    <div class="notification-content">
    <ul>
      <li class="notification-list" OnClick="location.href ='/board/post-view'" style="cursor:pointer; background: #FFBDC1;">
        <div class="notification-subject">
          <span class="notification-subject-img">
            <img src="../public/images/commenttype.png" alt="알림 종류" width="40px" height="40px">
          </span>
        </div>
        <div class="notification-maker" style="display:inline-block; text-align: center;">
          <img src="../public/images/usericon.png" alt="프로필 이미지" width="20px"><br/>
          <span>유저닉네임</span>
        </div>
        <div class="notification-text">
          <span class="notice-title">게시글 타이틀</span>
          <div class="notice-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
        <div class="notification-day">
          <span class="notice-date">yyyy.mm.dd hh:mm</span>
        </div>
      </li>
      <li class="notification-list" OnClick="location.href ='#'" style="cursor:pointer;">
        <div class="notification-subject">
          <span class="notification-subject-img">
            <img src="../public/images/note.png" alt="알림 종류" width="40px" height="40px">
          </span>
        </div>
        <div class="notification-maker" style="display:inline-block; text-align: center;">
          <img src="../public/images/usericon.png" alt="프로필 이미지" width="20px"><br/>
          <span>유저닉네임</span>
        </div>
        <div class="notification-text">
          <div class="notice-content">안녕하세요! 작성하신 글 보고 쪽지 드려요! OO에 대해서 물어보고 싶습니다!</div>
        </div>
        <div class="notification-day">
          <span class="notice-date">yyyy.mm.dd hh:mm</span>
        </div>
      </li>
      <li class="notification-list" OnClick="location.href ='#'" style="cursor:pointer;">
        <div class="notification-subject">
          <span class="notification-subject-img">
            <img src="../public/images/notice.png" alt="알림 종류" width="40px" height="40px">
          </span>
        </div>
        <div class="notification-maker" style="display:inline-block; text-align: center;">
          <img src="../public/images/usericon.png" alt="프로필 이미지" width="20px"><br/>
          <span>운영자</span>
        </div>
        <div class="notification-text">
          <div class="notice-content">mm월 dd일 03:00~07:00까지 서버 점검으로 인하여 서비스 이용이 불가능합니다.</div>
        </div>
        <div class="notification-day">
          <span class="notice-notice-date">yyyy.mm.dd hh:mm</span>
        </div>
      </li>
      <li class="notification-list" OnClick="location.href ='post.html'" style="cursor:pointer;">
        <div class="notification-subject">
          <span class="notification-subject-img">
            <img src="../public/images/commenttype.png" alt="알림 종류" width="40px" height="40px">
          </span>
        </div>
        <div class="notification-maker" style="display:inline-block; text-align: center;">
          <img src="../public/images/usericon.png" alt="프로필 이미지" width="20px"><br/>
          <span>유저닉네임</span>
        </div>
        <div class="notification-text">
          <span class="notice-title">게시글 타이틀</span>
          <div class="notice-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
        <div class="notification-day">
          <span class="notice-date">yyyy.mm.dd hh:mm</span>
        </div>
      </li>
    </ul>
    </div>
  
    <div style="text-align: center; padding:10px;">알림은 30일 이후 삭제됩니다.</div>
    <div class="notice-top-button">
      <a href="/notice">TOP</a>
    </div>
  </main>
</div>