<script src="../public/js/post.js"></script>
<main class="main-all">
  <div class="post-main-div">
    <form
      action="/board/post-writing"
      method="post"
      enctype="multipart/form-data"
    >
      <table class="post-table-style">
        <tr>
          <td class="td-style td_border">제목</td>
          <td class="td_border">
            <input type="text" name="title" class="input-style" />
          </td>
        </tr>
        <tr>
          <td class="td-style td_border">상호명</td>
          <td class="td_border">
            <input type="text" name="place_name" class="input-style" />
          </td>
        </tr>
        <tr>
          <td rowspan="2" class="td-style td_border">위치</td>
          <td>
            <select
              id="address1"
              class="place-input"
              onchange="loadsigungu();"
              name="address1"
            ></select>
            <select id="address2" class="place-input" name="address2"></select>
          </td>
        </tr>
        <tr>
          <td class="td_border">
            <input type="text" class="input-style" name="address3" />
          </td>
        </tr>
        <tr>
          <td class="td-style td_border">장소종류</td>
          <td class="td_border">
            <span>
              <input type="radio" name="place_type" value="cafe" /> 카페
              <input type="radio" name="place_type" value="restaurant" /> 식당
              <input type="radio" name="place_type" value="bar" /> 주점
              <input type="radio" name="place_type" value="sightseeing" /> 관광
              <input type="radio" name="place_type" value="etc" /> 기타
            </span>
          </td>
        </tr>
        <tr>
          <td class="td-style">주차장 이용</td>
          <td>
            <span>
              <input type="radio" name="can_park" value="1" /> 가능
              <input type="radio" name="can_park" value="0" /> 불가능
            </span>
          </td>
        </tr>
        <tr>
          <td class="td-style td_border">반려동물 동반</td>
          <td class="td_border">
            <span>
              <input type="radio" name="can_pet" value="1" /> 가능
              <input type="radio" name="can_pet" value="0" /> 불가능
            </span>
          </td>
        </tr>
        <tr>
          <td class="td-style td_border">평점</td>
          <td class="td_border">
            <input type="text" class="input-style" name="grade" />
          </td>
        </tr>
        <tr>
          <td class="td-style td_border">사진</td>
          <td class="td_border">
            <input
              type="file"
              class="real-upload"
              accept="image/*"
              onchange="readURL(this)"
              name="img"
            />
            <img id="preview" />
          </td>
        </tr>
        <tr>
          <td class="td-style">방문 후기</td>
          <td>
            <textarea
              cols="60"
              rows="15"
              name="content"
              class="textarea-style"
            ></textarea>
          </td>
        </tr>
      </table>
      <div>
        <span class="btn_pos">
          <button class="cancel-btn">취소</button>
          <button class="submit-btn" type="submit">등록</button>
        </span>
      </div>
    </form>
  </div>
</main>
