<div class="post-view-container">
  <main class="post-view-main">
    <article class="post-article">
      <header>
        <a href="#">지역 이름</a>
        <a href="#">
          <h1>게시글 타이틀</h1>
        </a>
        <div class="post-info">
          <span class="post-info-left-content"><a href="#"><img src="../public/images/usericon.png" alt="프로필 이미지"
                width="20px">&nbsp;작성자</a>&nbsp;&nbsp;&nbsp;yyyy.mm.dd hh:mm</span>
          <span class="post-info-right-content"><a href="#comment"><img src="../public/images/comment-alt.png" alt="댓글수" width="25"
                height="25">&nbsp;댓글 1</a>&nbsp;&nbsp;&nbsp;<a href="#"><img src="../public/images/heart.png" alt="추천"
                width="25" height="25">&nbsp;추천 5</a> </span>
        </div>
      </header>
  
      <div class="post-content">
        <table>
          <thead>
            <tr>
              <td rowspan="6"><img src="../public/images/cafe.png" alt="장소 사진" width="400px" height="auto"></td>
              <td><span class="post-view-cell-title">이름</span>&nbsp;&nbsp;&nbsp;&nbsp;DalDalHaru</td>
            </tr>
            <tr>
              <td><span class="post-view-cell-title">종류</span>&nbsp;&nbsp;&nbsp;&nbsp;카페</td>
            </tr>
            <tr>
              <td><span class="post-view-cell-title">위치</span>&nbsp;&nbsp;&nbsp;&nbsp;서울특별시 성북구 돈암동</td>
            </tr>
            <tr>
              <td><span class="post-view-cell-title">별점</span>&nbsp;&nbsp;&nbsp;&nbsp;★★★★★</td>
            </tr>
            <tr>
              <td><span class="post-view-cell-title">주차장</span>&nbsp;&nbsp;&nbsp;&nbsp;가능/불가능</td>
            </tr>
            <tr>
              <td><span class="post-view-cell-title">반려동물 동반</span>&nbsp;&nbsp;&nbsp;&nbsp;가능/불가능</td>
            </tr>
          </thead>
        </table>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
        <div class="post-buttons">
          <span class="article-footer-center">
            <a href="#"><span id="post-view-recommend"><img src="../public/images/heart.png" alt="추천" width="25"
                  height="25">&nbsp;추천</span></a>
            &nbsp;
            <a href="#"><span id="post-view-share"><img src="../public/images/share.png" alt="공유" width="25"
                  height="25">&nbsp;공유</span></a>
          </span>
          <!-- 작성자에게만 보이게 -->
          <span class="article-footer-right">
            <a href="#">수정</a>
            <a href="#">삭제</a>
          </span>
        </div>
      </div>
    </article>
    <div class="comment-area" id="comment">
      <div class="comment-content">
        <div class="post-view-profile">
          <a href="#"><img src="../public/images/usericon.png" alt="작성자 프로필">&nbsp;댓글 작성자</a>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <div class="comment-footer">
          yyyy.mm.dd hh.mm
          <!-- 작성자에게만 보이게 -->
          <span class="comment-buttons">
            <a href="#">수정</a>
            <a href="#">삭제</a>
          </span>
        </div>
      </div>
  
      <div class="comment-writing-column">
        <div class="post-view-profile">
          <img src="../public/images/usericon.png" alt="내 프로필">&nbsp;내 아이디
        </div>
        <form class="comment-textarea" action="index.html" method="post">
          <p><textarea placeholder="내용을 입력해 주세요" name="comment-textarea" rows="8" cols="80"></textarea></p>
          <p><input type="submit" name="등록" value="등록" class="post-view-myButton"></p>
        </form>
      </div>
    </div>
    <div class="post-view-buttons">
      <a href="#">목록</a>
      <a href="../views/post.html">TOP</a>
    </div>
  </main>
</div>
