<div class="service-intro-container">
    <main class="service-intro-main">
        <div class="service-intro-detail-header">
            <h1>이리와의 마이페이지</h1>
        </div>
        <br>
        <div class="service-intro-detail-image">
            <h2>마이페이지</h2><br>
            <img src="/public/images/howtoviewmypage.png" alt="마이페이지" width="90%"><br><br><br>
            <h2>1:1 문의하기</h2><br>
            <img src="/public/images/howtoviewqna.png" alt="문의 방법" width="90%"><br>
        </div>
        
    </main>
</div>
