<div class="service-intro-container">
    <main class="service-intro-main">
        <div class="service-intro-detail-header">
            <h1>이리와의 검색</h1>
        </div>
        <br>
        <div class="service-intro-detail-image">
            <h2>일반 검색</h2><br>
            <img src="/public/images/howtosearch.png" alt="일반 검색" width="90%"><br><br><br>
            <h2>상세 검색</h2><br>
            <img src="/public/images/howtosearchdetail.png" alt="상세 검색" width="90%"><br>
        </div>
        
    </main>
</div>
