<div class="service-intro-container">
    <main class="service-intro-main">
        <div class="service-intro-detail-header">
            <h1>게시글 작성방법</h1>
        </div>
        <img src="" alt="">
    </main>
</div>
