/* main */

.main-div {
  display: flex;
  min-height: 100vh;
}

/* side menu */

.main-sidemenu {
  background-color: #8398d1;
  min-width: 270px;
}

.menu-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.smallmenu-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.sidemenu-style {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px 10px;
  margin: 10px;
}
.sidemenu-style:hover {
  color: black;
}
.smallmenu {
  text-decoration: none;
  font-size: 18px;
  color: white;
}
.smallmenu:hover {
  color: black;
}

li {
  padding-top: 10px;
}

/* main에서 메뉴 제외한 contents*/

.main-contents {
  width: 100%;
}

.subject {
  font-size: 30px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

.main-searchbox-pos {
  display: flex;
  justify-content: end;
}

.select-style {
  padding: 6px 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: inherit;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaeaea;
  font-weight: 700;
  text-align: center;
}
.button-style {
  padding: 6px 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: inherit;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaeaea;
  font-weight: 700;
}
.main-search-box {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #eaeaea;
  padding-left: 20px;
  padding-right: 20px;
}

.table-style {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  border: 1px solid #ccc;
  margin: 20px 30px;
  min-width: 1000px;
}
.table-style thead {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background-color: #eaeaea;
}
.table-style thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: black;
}
.table-style tbody th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}
.table-style td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}
