/* container */

div#container{
    position: relative;
    max-width: 1300px;
    min-width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 15px;
    box-sizing: border-box;
}

div.contents{
    position: relative;
    border: 0.5px solid #787878;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

/* contents */

div#all_contents>div.board_action>h2{
    display: inline-block;
}

div#all_contents>div.board_action{
    margin-top: 10px;
    margin-bottom: 10px;
}

div.board_action>div>a>img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

div.board_action>div{
    display: inline-block;
    padding-right: 50px;
}

div#all_contents{
    position: relative;
    min-width: 1050px;
    background-color: #F9FAFF;
    padding: 10px 50px 50px 50px;
}

div.contents_explain{
    float: left;
    width: 200px;
    margin-bottom: 10px;
}


div.contents_explain>h4{
    color: #8398D1;
}

div.contents_info>a{
    display: inline-block;
    margin-right: 5px;
}

/* contents-info */

div.contents_info{
    position: absolute;
    bottom: 15px;
}

div.contents_info>a>div>p{
    position: relative;
    bottom: 5px;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
}

div.contents_info>a>div>img{
    width: 22px;
    height: 22px;
}

div.btn_jjim>p{
    color: #FF7979;
}

div.btn_comment>p{
    color: #000000;
}

div.btn_grade>p{
    color: #FFB636;
}

/*real_content*/

div.contents>div>div>img{
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

div.gallery_real_content {
    width: 200px;
    height: 300px;
    padding-right: 73px;
    padding-bottom: 20px;
    margin-left: 73px;
    display: inline-block;
}

div.listview_real_content{
    position: relative;
    width: 465px;
    height: 160px;
    padding-right: 30px;
    margin-left: 30px;
    display: inline-block;
}

.btn_pretty{
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    border: 0;
    border-radius: 7px;
    background-color: #8398D1;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

button{
    cursor: pointer;
}

div.error_page{
    margin-left: 50px;
    margin-right: 50px;
}

img#img_cute1{
    width: 500px;
}

table.qna_table{
    width: 100%;
    font-weight: bold;
}

table.qna_table, table.qna_table>thead>tr>th, table.qna_table>tbody>tr>td{
    border: 1px solid #dadada;
    border-collapse: collapse;
    padding: 10px;
}

table.qna_table>thead>tr>th{
    background-color: #8398d1;
    color: white;
}

td.qna_p{
    text-align: center;
    font-weight: normal;
}

button.btn_qna_write{
    display: block;
    position: relative;
    float: right;
    width: 70px;
    height: 30px;
    margin-top: 20px;
    margin-right: 10px;
    border: 0;
    border-radius: 7px;
    background-color: #8398D1;
    color: white;
    font-weight: bold;
    font-size: 13px;
}


div.qna_container>form>div.qna_detail{
    background-color: white;
    border: 0.5px solid #787878;
    text-align: center;
    padding: 15px 20px 15px 20px;
}

button.btn_pretty, a.btn_pretty{
    display: block;
    position: relative;
    float: left;
    width: 70px;
    height: 30px;
    margin-top: 20px;
    margin-right: 10px;
    border: 0;
    border-radius: 7px;
    background-color: #8398D1;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

div#repair-wrapper-detail{
    text-align: left;
}

div#repair-wrapper-detail>h4{
    margin-bottom: 10px;
}
button#btn_qnasearch{
    display: inline-block;
    position: relative;
    width: 70px;
    height: 30px;
    margin-left: 10px;
    border: 0;
    border-radius: 7px;
    background-color: #8398D1;
    color: white;
    font-weight: bold;
    font-size: 13px;
}