/* container */

div.contents_container{
    position: relative;
    min-height: 150px;
}

div.contents_explain>h2{
    margin-bottom: 10px;
}

div.img_main{
    position: absolute;
    right: 0;
    display: inline-block;
}

div.img_main>img{
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}

div#bod_content_end1{
    border-right: 1px solid #dadada;
}

div.board_action {
    position: relative;
}

div#writingPost{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 30px;
    text-align: center;
    width: 70px;
    height: 30px;
    border-radius: 7px;
    background-color: #8398D1;
    color: white;
    font-weight: bold;
    font-size: 13px;
}
