*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

ul li{
    list-style: none;
}

/* header */

header{
    border-bottom: 1px solid #dadada;
    height: 80px;
}

div.page_header{
    position: relative;
    max-width: 1200px;
    min-width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

div.page_header>div{
    display: inline-block;
    margin: 5px;
}

/* logo */

div#service_logo{
    position: relative;
    top:0;
    text-align: left;
}

div#service_logo>ul>li>a>img{
    width: 100px;
}

/* dropdown menu */

div#service_logo>ul>li>a{
    position: absolute;
    top: 0;
}

/* menu - eriwa list*/

div#service_logo>ul>li>ul{
    z-index: 1;
    position: relative;
    top:70px;
    float: left;
    display: none;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#service_logo>ul>li>ul>p{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

div#service_logo>ul>li>ul#eriwa_list>p{
    margin-bottom: 5px;
}

div#service_logo>ul>li>ul>li{
    padding: 5px 20px 0px 20px;
    font-size: 12px;
}

/* mouse hover*/

div#service_logo>ul>li:hover>ul{
    display: block;
}

/* menu - region list */

div#service_logo>ul>li>ul#region_list{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#service_logo>ul>li>ul#region_list>ul{
    float: left;
    padding: 5px 20px 0px 20px;
    font-size: 12px;
}

div#service_logo>ul>li>ul>ul>li{
    padding: 5px 20px 0px 20px;
}

/* search */

div.page_header> div.search{
    position: absolute;
    top: 20px;
    right: 250px;
    
}

div.search{
    border: 2px solid black;
    border-radius: 20px;
    height: 30px;
    max-height: 30px;
}

div.search>input{
    border: 0px;
    border-radius: 20px;
    outline: none;
    width: 76%;
    padding:5px;
    padding-left: 10px;
    text-align: left center;
    font-size: 12px;
}

div.search>a{
    position: relative;
    top:5px;
    right: 5px;
}


div.search >a> img{
    border-radius: 20px;
    width: 20px;
}

div#container>div.search{
    margin: 20px 40px 20px 40px;
}

div#container>div.search>input{
    width: 95%;
}

/* action button */

a.btn_bookmark, a.btn_alarm{
    position: absolute;
    top: 30px;

}

a.btn_bookmark{
    right: 160px;
}

a.btn_alarm{
    right: 120px;
}

a.btn_bookmark>img, a.btn_alarm>img{
    width: 25px;
}

div.action>a.btn_login{
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    text-align: center;
    vertical-align: top;
    font-size: 15px;
    font-weight: bold;
    line-height: 42px;
}

div.action > button{
    background-color: white;
}


/* footer */

footer{
    position: relative;
    min-width: 1000px;
    max-width: 1100px;
    height: 100%;
    margin: 0px auto;
    padding: 60px 20px;
    margin-top: 50px;
    box-sizing: border-box;
    font-size: 16px;
    border-top: 1px solid #dadada;
}

footer>div{
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #dadada;
    font-size: 16px;
    font-weight: bold;
}

footer>p{
    margin-top: 20px;
    font-weight: bold;
    font-size: 12px;
}

footer>div>a{
    color: rgb(145, 145, 145);
}


/* container */

div#container{
    position: relative;
    max-width: 1200px;
    min-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 15px;
    box-sizing: border-box;
}

div.contents_container{
    position: relative;
    min-height: 150px;
}

div.contents_explain{
    float: left;
    margin-bottom: 10px;
}

div.contents_explain>h2{
    margin-bottom: 10px;
}

div.img_main{
    position: absolute;
    right: 0;
    display: inline-block;
}

div.img_main>img{
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}

div.contents_info{
    position: absolute;
    bottom: 0px;
}

div.contents_info>a{
    display: inline-block;
    margin-right: 5px;
}

div.contents_info>a>div>p{
    position: relative;
    bottom: 5px;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
}

div.contents_info>a>div>img{
    width: 22px;
    height: 22px;
}

div#all_contents{
    position: relative;
    min-width: 1050px;
    background-color: #F9FAFF;
    padding: 10px 50px 50px 50px;
}

div#all_contents>div.board_action{
    margin-top: 10px;
    margin-bottom: 10px;
}

div#all_contents>div.board_action>h2{
    display: inline-block;
}


div.contents{
    position: relative;
    border: 0.5px solid #787878;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}


div.btn_jjim>p{
    color: #FF7979;
}

div.btn_comment>p{
    color: #000000;
}

div.btn_grade>p{
    color: #FFB636;
}

div.real_content1, div.real_content2{
    position: relative;
    width: 465px;
    padding-right: 30px;
    margin-left: 30px;
    display: inline-block;
}

div.real_content1 {
    border-right: 1px solid #dadada;
}

div.board_action > h2{
    display: inline-block;
}

div.board_action {
    position: relative;
}

div#writingPost{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 30px;
    text-align: center;
    width: 70px;
    height: 30px;
    border-radius: 7px;
    background-color: #8398D1;
    color: white;
    font-weight: bold;
    font-size: 13px;
}
