
/* container */

div#container>div>div.search {
    min-width: 1110px;
    display: inline-block;
}

div.search_container{
    max-width: 1200px;
    min-width: 1100px;
}

div#container>div>div.search>input{
    width: 95%;
}

div.btn_option>a{
    display: inline-block;
}

div.btn_option>a>img{
    position: absolute;
    top: 0;
    right: 20px;
    width: 30px;
    height: 30px;
}

div#search_option{
    display: none;
    position: relative;
    max-width: 1200px;
    min-width: 1000px;
    background-color: white;
    border: 0.5px solid #787878;
    margin-top: 20px;
    padding: 10px 20px 20px 20px;
}

div#search_option>div.search_text{
    display: block;
    border-bottom: 0.5px solid #787878;
    margin-bottom: 10px;
    padding: 0px 0px 10px 0px;
}

div#search_option>div>div{
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 17px;
}

div.search_first, div.search_second, div.search_third{
    display: block;
    margin-left: 10px;
}

select.selec_search{
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-right: 300px;
    margin-bottom: 10px;
    border: 1px solid #9a9a9a;
    color: #787878;
    border-radius: 3px;
}

div#search_option>div>div>p{
    display: inline-block;
}

button#btn_search{
    display: block;
    position: relative;
    left: 500px;
    width: 70px;
    height: 30px;
    margin-top: 20px;
    border: 0;
    border-radius: 7px;
    background-color: #8398D1;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

div.search_result{
    display: block;
    max-width: 1100px;
    min-width: 1000px;
    margin-top: 20px;
    position: relative;
    background-color: white;
    border: 0.5px solid #787878;
    padding: 20px 20px 20px 50px;
}
