/* footer */

footer{
    position: relative;
    min-width: 1000px;
    max-width: 1100px;
    height: 100%;
    margin: 0px auto;
    padding: 60px 20px;
    margin-top: 50px;
    box-sizing: border-box;
    font-size: 16px;
    border-top: 1px solid #dadada;
}

footer>div{
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #dadada;
    font-size: 16px;
    font-weight: bold;
}

footer>p{
    margin-top: 20px;
    font-weight: bold;
    font-size: 12px;
}

footer>div>a{
    color: rgb(145, 145, 145);
}