div#container>div.search{
    margin: 20px 40px 20px 40px;
}

div#container>div.search>input{
    width: 95%;
}

/* container */

div#today_best{
    background-color: #F9FAFF;
    padding: 10px 50px 10px 50px;
}

div#today_best>h2{
    padding-top: 10px;
    padding-bottom: 10px;
} 

div.today_best_contents{
    height: 200px;
    position: relative;
    border: 0.5px solid #787878;
    padding: 20px;
    background-color: white;
}

div.today_best_contents>div.contents_img{
    display: inline-block;
}

div.today_best_contents>div.contents_detail{
    position: absolute;
    display: inline-block;
    width: 70%;
    height: 200px;
}

div.today_best_contents>div>img{
    width: 200px;
    height: 200px;
    margin-right: 30px;
}

div#inx_board_action>div{
    position: absolute;
    top: 5px;
    right: 0;
}

div#idx_content_end1, div#idx_content_end2 {
    border-right: 1px solid #dadada;
}

div.contents_explain>p{
    margin-top: 15px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
