
div#container>div.search{
    margin: 20px 40px 20px 40px;
}

div#container>div.search>input{
    width: 95%;
}

/* container */

div#container{
    position: relative;
    max-width: 1200px;
    min-width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 15px;
    box-sizing: border-box;
}

div#container> div#today_best{
    background-color: #F9FAFF;
    padding: 10px 50px 10px 50px;
}

div#today_best>h2{
    padding-top: 10px;
    padding-bottom: 10px;
} 

div.today_best_contents{
    height: 200px;
    position: relative;
    border: 0.5px solid #787878;
    padding: 20px;
    background-color: white;
}

div.today_best_contents>div.contents_img{
    display: inline-block;
}

div.today_best_contents>div.contents_detail{
    position: absolute;
    display: inline-block;
    width: 70%;
    height: 200px;
}

div.today_best_contents>div>img{
    width: 200px;
    height: 200px;
    margin-right: 30px;
}

div.contents_explain{
    display: block;
    margin-bottom: 10px;
}

div.today_best_contents>div.contents_detail>div.contents_info{
    position: absolute;
    bottom: 0px;
}

div.contents_info>a{
    display: inline-block;
    margin-right: 5px;
}

div.contents_info>a>div>p{
    position: relative;
    bottom: 5px;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
}

div.contents_info>a>div>img{
    width: 22px;
    height: 22px;
}

div#all_contents{
    position: relative;
    min-width: 1050px;
    background-color: #F9FAFF;
    padding: 10px 50px 10px 50px;
}

div#all_contents>div.board_action{
    margin-top: 10px;
    margin-bottom: 10px;
}

div#all_contents>div.board_action>h2{
    display: inline-block;
}

div#all_contents>div.board_action>div{
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 10px;
    padding-right: 50px;
}

div#all_contents>div.board_action>div>a>img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

div.contents{
    height: auto;
    position: relative;
    border: 0.5px solid #787878;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

div.contents>div>div>img{
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}

div.btn_jjim>p{
    color: #FF7979;
}

div.btn_comment>p{
    color: #000000;
}

div.btn_grade>p{
    color: #FFB636;
}

div.real_content1, div.real_content2, div.real_content3 {
    width: 200px;
    padding-right: 73px;
    margin-left: 73px;
    display: inline-block;
}

div.real_content1, div.real_content2 {
    border-right: 1px solid #dadada;
}