.goodList-container {
    padding: 0px;
    margin: 0px;
}

.goodList-container > a {
    text-decoration: none;
    color: inherit;
}


.goodList-container > div#container{
    position: relative;
    max-width: 1200px;
    min-width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 15px;
    box-sizing: border-box;
}

/* menu*/

.goodList-container > .menu_list {
    margin: 5px;
    text-align: center;
    float: left;
    display: flex;    
}

.write_list {
    width: 298px;
    height: 50px;
    border: 1px solid black;
    float: left;
    background-color: white;
    display:flex;
    font-size: 18px;
    margin: auto;
}

.write_list span{
    margin:auto;
}
.reply_list {
    width : 298px;
    height: 50px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    float: left;
    background-color: white;
    font-size: 18px;
    margin:auto;

    display:flex;
}
.reply_list span{
    margin:auto;
}
.good_list {
    width : 298px;
    height: 50px;
    border : 1px solid black;
    float: left;
    display:flex;
    font-size: 18px;
    margin:auto;
    background-color: #8398D1;

}
.good_list span{
    margin:auto;
}

/* btn */

.goodList-container > button#btn_write{
    display: block;
    width: 70px;
    height: 30px;
    margin-top: 20px;
    border: 0;
    border-radius: 7px;
    background-color: #8398D1;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.goodList-container > button#btn-all-select{
    width: 80px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: white;
    color: black;
    margin-left: 5px;
    font-size: 13px;
}

.goodList-container > button#btn_delete{
    width: 60px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: white;
    color: black;
    margin-left: 10px;
    font-size: 13px;
}

.goodList-container > select{
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #9a9a9a;
    color: #787878;
    border-radius: 3px;
}

.goodList-container > div.wrapped_qna{
    display:flex;
    max-width: 1200px;
    min-width: 1152px;
    margin-top: 20px;
    border: 0.5px solid #787878;
    background-color: white;
}

.goodList-container > img#img_profile{
    width: 100px;
    height: 100px;
}

div#img_message>a{
    position: relative;
    padding-left: 20px;
}

div#img_message>a>img{
    position: absolute;
    top: 0;
    right: 40px;
    margin-right: 5px;
    width: 20px;
}

.goodList-container > div.user_container, div.qna_container{
    float: left;
    background-color: #f9faff;
}


.goodList-container > div.user_info{
    position: relative;
    text-align: center;
    background-color: white;
    border-bottom: 0.5px solid #787878;
    padding: 10px 25px 10px 25px;
}

.goodList-container > div.user_info>div>a>p, div.user_info>p{
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
}

.goodList-container > div.user_detail{
    background-color: #8398D1;
    font-weight: bold;
    color: white;
    padding: 10px 20px 20px 10px;
    font-size: 11px;
}

.goodList-container > div.user_detail>div{
    display: inline-block;
}

.goodList-container > div.detail_variable{
    text-align: right;
    margin-left: 50px;
}

.goodList-container > div.user_detail>div>p, div.user_detail>div>a>p{
    margin-top: 7px;
    line-height: 200%;
}

.goodList-container > div.user_detail>div>a{
    font-weight: bold;
    color: white;
    font-size: 11px;

}

.goodList-container > div.qna_container{
    max-width: 1050px;
    min-width: 950px;
    border-left: 0.5px solid #787878;
    padding: 20px 20px 20px 20px;
}


.goodList-container > div.qna_container>div.qna_detail{
    background-color: white;
    border: 0.5px solid #787878;
    text-align: left;
    padding: 15px 20px 15px 20px;
}

.goodList-container > div.qna_container>div.qna_detail>div.button-container{
    padding-bottom: 10px;
}

.goodList-container > div.qna_container>div.qna_detail>div.menu_list {
    padding-bottom: 10px;
}

.goodList-container > div.qna_kind{
    /*text-align: left;*/
    border-bottom: 0.5px solid #787878;
    margin-bottom: 20px;
    min-height: 1000px;
}

.goodList-container > div.qna_list{
    min-height: 1000px;
}


.goodList-container > .board_list_wrap {
    padding: 3px;
}

.goodList-container > .board_list_head,
.board_list_body .item {
    padding: 10px 0;
    font-size: 0;
}

.goodList-container > .board_list_head {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 25px;
    line-height: 25px;
    background-color: #8398D1 ;
}

.goodList-container > .board_list_body .item {
    border-bottom: 1px solid #ccc;
}

.goodList-container > .board_list_body .item > div {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
}

.goodList-container > .board_list_head > div {
    display: inline-block;
    text-align: center;
    font-size: 18px;
}

.goodList-container > .board_list_head > div {
    font-weight: 600;
}

.goodList-container > .board_list .button {
    width: 10%;
}

.goodList-container > .board_list .tit {
    width: 65%;
    padding-left: 50px;;
}

.goodList-container > .board_list_body div.tit {
    text-align: left;
    
}

.goodList-container > .board_list_body div.tit a:hover {
    text-decoration: underline;
}


.goodList-container > .board_list .date {
    width: 15%;
}


