.note-list-container {
  position: relative;
  height: 100%;
  padding: 0px;
  margin: 0px;
  min-width: 1000px;
  white-space: nowrap;
}

.note-list-container {
  background: #fff;
  font-size: 14px;
  color: #000;
}

.note-list-main {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  z-index: 5;
}

.note-list-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-list-type > h2 {
  margin: 15px 5px 15px auto;
}

.note-list-type > h2 > span > a {
  font-size: 18px;
  font-weight: normal;
  text-decoration: underline;
  text-underline-position: under;
  margin: 5px;
  color: #ababab;
}

#receive-note > a {
  font-weight: bold;
  color: #000;
}

#send-note > a {
  font-weight: bold;
  color: #000;
}

.note-write-button {
  font-size: 15px;
  background-color: #ffffff;
  border: 1.5px solid darkgray;
  border-radius: 8px;
	cursor: pointer;
	color: rgb(0, 0, 0);
	padding: 6px 8px;
}

.note-list-header {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  column-gap: 10px;
  align-items: center;
  font-size: 16px;
  text-align: center;
  height: 30px;
  background: #929292;
  color: #fff;
  border-radius: 5px;
}

.note-list-content > ul {
  padding: 0;
}

.note-list {
  height: 120px;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  column-gap: 10px;
  align-items: center;
  border-top: solid 1px #E4E4E4;
  border-bottom: solid 1px #E4E4E4;
  background: #fafafa;
}

.note-day {
  color: #8f8f8f;
  display:inline-block;
  text-align: center;
}

.note-text {
  padding-left: 30px;
}

.note-content {
  width: 100%;
  white-space: normal;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.note-list-top-button {
  display: block;
  float: right;
  text-align: center;
  margin: 10px 0px 0px 10px
}

.note-list-top-button > a {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px 10px;
}

.note-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-modal-container .note-modal-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.note-modal {
  position: absolute;
  background-color: #fff;
  width: 400px;
  height: 250px;
  padding: 15px;
  border-radius: 8px;
}

.note-modal-text > p {
  white-space: normal;
  word-wrap: break-word;
}

.note-modal-item, .note-modal-content {
  padding: 20px 20px 20px 0px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-modal-header > div > span{
  margin: 10px 10px 10px 0px;
}

.note-modal-content {
  padding: 20px 20px 20px 20px;
}

.recipient-area, .note-write-area {
  display: grid;
  grid-template-columns: 2fr 7fr;
  column-gap: 10px;
  align-items: center;
  text-align: center;

}

.note-write-area > textarea {
  resize: none;
}

.note-modal-footer {
  display: flex;
  justify-content: flex-end;
}

.note-modal-footer > button {
  margin: 0px 3px;
}

.hide-note {
  display: none;
}