.notice-container {
  position: relative;
  height: 100%;
  padding: 0px;
  margin: 0px;
  min-width: 1000px;
  white-space: nowrap;
}

.notice-container {
  background: #fff;
  font-size: 14px;
  color: #000;
}

.notice-main {
  position: relative;
  margin-left: 150px;
  margin-right: 150px;
  z-index: 5;
}

.notice-category > h2 {
  margin: 15px 5px 15px auto;
}

.notice-category > h2 > span > a {
  font-size: 18px;
  font-weight: normal;
  text-decoration: underline;
  margin: 5px;
  color: #BABABA;
}

#all-notice > a {
  font-weight: bold;
  color: #000;
}

.notification-content > ul {
  padding: 0;
}

.notification-list {
  height: 120px;
  display: grid;
  grid-template-columns: 15% 15% 40% 30%;
  column-gap: 10px;
  align-items: center;
  border-top: solid 1px #E4E4E4;
  border-bottom: solid 1px #E4E4E4;
}


.is-checked-0 {
  background: #fcdbdd;
}

.is-checked-1 {
  background: #fafafa;
}

.notice-title, .notification-day {
  color: #8f8f8f;
}

.notice-title {
  font-weight: bold;
}

.notification-subject, .notification-day {
  display:inline-block;
  text-align: center;
}

.notification-text {
  padding-left: 30px;
}

.notice-content {
  width: 100%;
  white-space: normal;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.notice-top-button {
  display: block;
  float: right;
  text-align: center;
  margin: 10px 0px 0px 10px
}

.notice-top-button > a {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px 10px;
}