/* main */
.post-main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.post-main-div {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 130px 550px;
  row-gap: 5px;
  column-gap: 5px;
  background-color: #f9faff;
  padding: 40px 120px;
  font-size: 20px;
  min-width: 800px;
}

.input-style {
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}

.place-input1 {
  font-family: Arial, Helvetica, sans-serif;
  width: 160px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
}

.place-input2 {
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
}

.post_text_border {
  text-align: end;
  border-bottom: 1px solid #eaeaea;
}

.post_input_border {
  border-bottom: 1px solid #eaeaea;
}

.real-upload {
  display: none;
}

#preview {
  padding: 5px;
  width: 150px;
  height: 150px;
  background-color: #eaeaea;
  border-radius: 10px;
}

.image-preview {
  width: 150px;
  height: 150px;
}

.textarea-style {
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px 6px;
  font-size: 20px;
  border: 1px solid #eaeaea;
  resize: none;
}

.submit-btn {
  padding: 5px 12px;
  margin-right: 5px;
  border-radius: 10px;
  border-style: none;
  font-size: 20px;
  background-color: #8398d1;
  color: white;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
}
.submit-btn:hover {
  color: black;
  transform: scale(1.02);
}

.btn_pos {
  display: flex;
  justify-content: end;
}

