.post-view-container {
  position: relative;
  height: 100%;
  padding: 0px;
  margin: 0px;
  min-width: 1000px;
  white-space: nowrap;
}

.post-view-container {
  background: #fff;
  font-size: 14px;
  color: #000;
}

.post-view-main {
  position: relative;
  margin: 20px 150px 0px 20px;
  margin-left: 150px;
  margin-right: 150px;
  z-index: 5;
}

.post-article > header, .post-content {
  padding: 10px;
  height: 100%;
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-content > table {
  border-spacing: 10px;
  height: 280px;
}

.table-post-img > img {
  width: 400px;
  height: 280px;
  object-fit: contain;
}

.post-view-cell-title {
  font-weight: bold;
}

.post-content > p {
  white-space: normal;
  font-size: 16px;
  word-break: break-all;
}

.post-info-left-content, .post-info-left-content > a
, .post-info-right-content, .post-info-right-content > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px 0px 10px 0px;
}

.post-buttons > .article-footer-center {
  grid-column: 2/3;
  display: inline-block;
  text-align: center;
  place-self: center center;
  min-width: 100px;
}

.post-buttons > .article-footer-center > a {
  display: inline-block;
  border: 1px solid darkgray;
  border-radius: 5px;
}

#post-view-recommend, #post-view-share {
  display: flex;
  padding: 10px;
  align-items: center;
}

.article-footer-right{
  grid-column: 3/4;
  display: inline-block;
  text-align: right;
  place-self: end end;
}

.article-footer-right > a, .article-footer-right > form {
  display: inline-block;
}

.post-edit-delete {
  font-size: 14px;
  padding: 0px 5px;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  color: gray;
  text-decoration: underline;
  cursor: pointer;
	border: 0;
  outline: 0;
}

.comment-area {
  background: #E3EDF7;
  padding: 20px;
}

.comment-content-container {
  border-bottom: 1px solid #dadada;
  margin: 0px 40px;
  padding: 20px 20px;
}

.comment-content-text {
  padding-bottom: 5px;
  white-space: normal;
  font-size: 16px;
  word-break: break-all;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: darkgray;
}

.comment-buttons > a, .comment-buttons > form {
  display: inline-block;
  margin-left: 8px;
}

.edit-delete {
  display: block;
  background-color: rgba(255, 255, 255, 0);
  color: gray;
  text-decoration: underline;
  cursor: pointer;
  font-size: 13px;
	border: 0;
  outline: 0;
}

.comment-writing-column {
  width: 70%;
  padding: 20px 60px;
  margin: 20px auto 10px auto;
  background: #fff;
  border-radius: 10px;
}

.post-view-profile, .post-view-profile > a {
  display: flex;
  align-items: center;
}

.comment-textarea > div > textarea {
  resize: none;
  width: 100%;
  margin: 4px 0px 0px 0px;
  border: 1px solid #cccccc;
  border-radius: 7px;
}

/*
#comment-submit {
  display: block;
  margin: 0 0 0 auto;
}*/

.post-view-myButton {
	background-color: #ffffff;
	border-radius: 28px;
	border: 1px solid #cccccc;
	display: block;
	cursor: pointer;
	color: #222;
  margin: 0 0 0 auto;
	padding: 5px 10px;
	text-shadow: 0px 1px 0px #ffffff;
}
.post-view-myButton:hover {
	background-color: #f6f6f6;
}
.post-view-myButton:active {
	position: relative;
	top: 1px;
}

.post-view-buttons {
  display: block;
  float: right;
  text-align: center;
  margin: 10px 0px 0px 10px
}

.post-view-buttons > a {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px 10px;
}

.comment-edit-form {
  display: none;
}

.comment-edit-form > form {
  display: block;
}

.comment-edit-buttons {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
}

#comment-edit-button {
  margin-left: 5px;
}

.comment-edit-hide {
  display: none;
}

.comment-edit-show {
  display: block;
}