.post-view-container {
  position: relative;
  height: 100%;
  min-width: 1000px;
  white-space: nowrap;
}

.post-view-container {
  background: #fff;
  font-size: 14px;
  color: #000;
}

.post-view {
  position: relative;
  margin-left: 150px;
  margin-right: 150px;
  z-index: 5;
}

.post-article {
  margin: 20px 0px;
}

.post-article > header, .post-content {
  margin: 10px 0px;
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-content > table {
  border-spacing: 10px;
}

.cell-title {
  font-weight: bold;
}

.post-content > p {
  white-space: normal;
  font-size: 16px;
}

.left-content, .left-content > a, .right-content, .right-content > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 15px 0px 10px 0px;
}

.post-buttons > .center {
  grid-column: 2/3;
  display: inline-block;
  text-align: center;
  place-self: center center;
  min-width: 100px;
}

.post-buttons > .center > a {
  display: inline-block;
  border: 1px solid darkgray;
  border-radius: 5px;
}

#recommend, #share {
  display: flex;
  padding: 10px;
  align-items: center;
}

.right{
  grid-column: 3/4;
  display: inline-block;
  text-align: right;
  place-self: end end;
}

.right > a {
  padding: 0px 5px;
  color: gray;
  text-decoration: underline;
}

.comment-area {
  background: #E3EDF7;
  padding: 20px;
}

.comment-content {
  padding: 20px 40px;
  border-bottom: 1px solid #dadada;
}

.comment-content > p {
  white-space: normal;
  font-size: 16px;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: darkgray;
}

.comment-buttons > a {
  padding: 0px 5px;
  color: gray;
  text-decoration: underline;
}

.comment-writing-column {
  width: 70%;
  padding: 20px 60px;
  margin: 10px auto;
  margin-top: 20px;
  background: #fff;
  border-radius: 10px;
}

.post-view-profile, .post-view-profile > a {
  display: flex;
  align-items: center;
}

.comment-textarea > textarea {
  resize: none;
  width: 100%;
  margin: 5px 0px 10px 0px;
  border: 1px solid #cccccc;
  border-radius: 7px;
}

#comment-submit {
  display: block;
  margin: 0 0 0 auto;
}

.post-view-myButton {
	background-color: #ffffff;
	border-radius: 28px;
	border: 1px solid #cccccc;
	display: block;
	cursor: pointer;
	color: #222;
  margin: 0 0 0 auto;
	padding: 5px 10px;
	text-shadow: 0px 1px 0px #ffffff;
}
.post-view-myButton:hover {
	background-color: #f6f6f6;
}
.post-view-myButton:active {
	position: relative;
	top: 1px;
}

.post-view-buttons {
  display: block;
  float: right;
  text-align: center;
  margin: 10px 0px 0px 10px
}

.post-view-buttons > a {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px 10px;
}
