html, body {
  position: relative;
  height: 100%;
  min-width: 1000px;
  white-space: nowrap;
}

body {
  background: #fff;
  font-size: 14px;
  color: #000;
}

*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

ul li{
    list-style: none;
}

/* banner */
.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* card */
.cards {
  text-align: center;
}

.cards > section {
  position: relative;
  background: #f9f9f9;
  width: 240px;
  height: 320px;
  display: inline-block;
  border-radius: 15px;
  margin: 30px 20px 30px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  text-align: left;
}

.card-header {
	-webkit-transition: 0.5s; /*사파리 & 크롬*/
  -moz-transition: 0.5s;  /*파이어폭스*/
  -ms-transition: 0.5s;	/*인터넷 익스플로러*/
  -o-transition: 0.5s;  /*오페라*/
  transition: 0.5s;
	width: 100%;
	height: 200px;
	border-radius: 15px 15px 0 0;
	background-size: 100% 200px;
	background-repeat: no-repeat;

}

#card1 {
  background-image: url("../images/totoro025.jpg");
}

#card2 {
  background-image: url("../images/ponyo020.jpg");
}

#card3 {
  background-image: url("../images/howl049.jpg");
}

#card4 {
  background-image: url("../images/chihiro014.jpg");
}

.cards > section:hover .card-header  {
	opacity: 0.8;
  height: 180px;
}

.card-body{
	line-height: 25px;
	margin: 10px 20px 0px 10px;
  padding: 0px 20px 50px 0px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}